@charset "UTF-8";

/* header--------------------------------------- */
.home {
    display: flex;
    justify-content: flex-end;
}

.home a {
    font-size: 1.125rem;
    position: relative;
    text-decoration: none;
    color: #3f3f3f;
    transition: all 0.3s ease;
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;
    margin-right: 2rem;
    width: fit-content;
}

.home a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 1px;
    background-color: #3f3f3f;
    transition: width 0.3s ease;
}

.home a:hover::after {
    width: 100%;
}

.works {
    position: relative;
    display: inline-block;
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
    margin-left: 3rem;
}

.works::after {
    content: "作品紹介";
    position: absolute;
    top: 85%;
    left: -90%;
    margin-left: 3rem;
    font-size: 1.125rem;
    color: inherit;
    white-space: nowrap;
}

/* main------------------------------------------------- */

.works-list {
    display: block;
}

/* website */
.website-explanation {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;
}

.comp {
    width: 80%;
    object-fit: cover;
    margin: 0 auto;
}

p span {
    font-size: 1rem;
    font-weight: 700;
}

.text p {
    text-align: left;
    margin-block: 4rem;
}

.website1 .website-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.website-img-sp{
    display: flex;
    justify-content: center;
}

.inner-website {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.mocup-sp{
    margin-bottom: 3rem;
}

.mocup-sp p{
    color: #88A096;
    text-align: center;
}

.website2 .website-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* .inner-website img {
    width: 100%;
    height: auto;
    object-fit: cover;
} */

.inner-website p {
    font-size: 1rem;
    text-align: center;
    line-height: 1.6;
    color: #88A096;
}

.website-img-pc {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.website-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.website2 {
    margin-top: 4rem;
    margin-bottom: 10rem;
}

.website-img-pc {
    margin-bottom: 2rem;
}

/* movie */
.movie-explanation {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;
}

.movie-explanation .span {
    font-size: 1rem;
    font-weight: 800;
}

iframe {
    width: 100%;
    height: 100%;
}

.movie-frame {
    border-radius: 20px;
    overflow: hidden;
}

.movie-youtube {
    aspect-ratio: 16 / 9;
}

.iframe-youtube {
    width: 100%;
    height: 100%;
    border: none;
}

.movie-tiktok {
    aspect-ratio: 9 / 16;
    width: 60%;
    margin: 0 auto;
}

.iframe-tiktok {
    width: 100%;
    height: 100%;
    border: none;
}

.movie-img {
    display: flex;
    flex-direction: column;
}

.movie-title {
    font-size: 1rem;
    text-align: center;
    line-height: 1.6;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #88A096;
}

.movie-text {
    margin-bottom: 4rem;
}

/* banner */
.banner {
    margin-bottom: 4rem;
}

.banner-explanation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 10rem;
}

.banner-text p {
    margin-bottom: 4rem;
}

.banner img {
    object-fit: cover;
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* media queries------------------------------------ */

@media (min-width: 768px) {

    /* common */
    html {
        font-size: 1.25rem;
    }

    .section {
        display: none;
    }

    h3 {
        font-size: 2rem;
        color: #C2C094;
        text-align: left;
        margin-block: 6rem;
    }

    /* header */
    .works {
        position: relative;
        display: inline-block;
        font-size: 2rem;
        margin-top: 10rem;
        margin-left: 8rem;
    }

    .works::after {
        content: "作品紹介";
        position: absolute;
        top: 65%;
        left: -25%;
        margin-left: 0.8em;
        font-size: 1.5rem;
        color: #3f3f3f;
        white-space: nowrap;
    }

    .nav a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 0;
        height: 2px;
        background-color: #3f3f3f;
        transition: width 0.3s ease;
    }

    .works-top .nav {
        font-size: 2rem;
        padding: 2rem 1rem;
    }

    .home a {
        font-size: 1.25rem;
        display: flex;
        justify-content: flex-end;
        margin-top: 5rem;
        margin-right: 6rem;
    }

    /* website */
    .works-list {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .works-list p {
        font-size: 1.125rem;
        line-height: 1.8;
    }

    .website-explanation text {
        font-size: 1.125rem;
    }

    .website-img-sp img {
        width: 65%;
        height: auto;
        object-fit: cover;
        margin: 0 auto;
    }

    .website-text p {
        font-size: 1.125rem;
        line-height: 2.0;
        text-align: start;
    }

    /* banner */
    .banner-list p {
        font-size: 1.125rem;
        line-height: 1.8;
    }

    .banner-explanation img {
        width: 60%;
        height: auto;
        object-fit: cover;
    }

    /* movie */
    .movie-youtube {
        width: 70%;
        height: auto;
        margin: 0 auto;
    }

    .movie-text {
        margin-bottom: 8rem;
    }

    .movie-tiktok {
        width: 40%;
        height: auto;
        margin: 0 auto;
    }
}